@import './variables.scss';
@import './fonts.scss';

// Блок основного контента

.page-title__block{
    display: flex;
    justify-content: space-between;
}

.page-main__component{
    background-color: $glass-white-05;
    border: 1px solid $glass-white-05;
    border-radius: 5px;
    margin-top: 45px;
}

// Верхнее меню
.nav-menu{
    background-color: $glass-white-05;
    border: 1px solid $glass-white-05;
    border-radius: 5px;

    ul{
        align-items: center;
        display: flex;
        margin: 10px 30px;
        padding: 0;

        li {
            list-style-type: none;
        }
    }
}

.responsive-nav-menu{
    display: flex;
    justify-content: space-between;

    button{
        background: none;
        border: none;
        cursor: pointer;
        margin-left: 10px;
    }
}

.header-content__logo{
    width: 30%;
}

.header-content__nav{
    max-width: 1240px;
    width: 70%;
}

// Кнопки

.button-default{
    background: $gold;
    border: none;
    border-radius: 5px;
    color: $black;
    cursor: pointer;
    font-size: 15px;
    height: 45px;
    letter-spacing: 4.8px;
    padding: 13px 40px;
    text-transform: uppercase;
    
    &:hover{
        background: linear-gradient(90deg, rgba(244,209,106,1) 0%, rgba(255,255,255,1) 100%);
    }
}