@import './variables.scss';
@import './elements';
@import './layout.scss';

html{
    background-color: black;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
}

#app{
    height: 100%;
}

.resource-control-app{
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(41,41,41,1) 100%);
    padding: 28px 116px;
}