
// Основные цвета проекта
$black: #000000;
$gold: #F4D16A;
$gray: #C7C6BE;
$white: #FFFFFF;

// Полупрозрачные истории
$glass-white-05: rgba(255, 255, 255, 0.05); // белый 5%
$glass-white-15: rgba(255, 255, 255, 0.15); // белый 15%
$glass-white-25: rgba(255, 255, 255, 0.25); // белый 25%
$glass-black-25: rgba(0, 0, 0, 0.25); // черный 25%